<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About US</h1>
    <p>ini adalah Halaman About</p>
  </body>
</html>
