<!DOCTYPE html>
<html>
  <head>
    <title><%= var1 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= var1 %></h1>
    <p>Welcome to <%= var1 %></p>
  </body>
</html>
